$color_spicy_mix_approx: #7c593c; //darkbrown
$color_quill_gray_approx: #d4d4d4; //light grey
$white: #fff;
$color_half_baked_approx: #89c0c9;//med blue
$color_casal_approx: #3a5e63;//dark blue
$color_indian_khaki_approx: #c9a689; //light brown
$color_onahau_approx: #c7f7ff;//light blue
$color_log_cabin_approx: #222; //dark grey 

//fonts
$font_0: Josefin Sans;
$font_1: Trebuchet MS;
$font_2: Helvetica;
$font_3: sans-serif;
$font_4: Cardo;
$font_5: Palatino Linotype;
$font_6: Book Antiqua;
$font_7: Palatino;
$font_8: serif;
